<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Página principal</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/vendor/css/style.css"/>
  </head>
  <body id="indexBody">
    <h1 id="indexTitle">Tres En Raya</h1>
    <img id="indexImg" src="/vendor/fonts/img1.png"/>
    <form action="/players" method="get">
      <center><button type="submit" class="jugar jugar1">Jugar</button></center>
    </form>
  </body>
</html>