<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Página inicial</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/vendor/css/style.css"/>
  </head>
  <body id="indexBody">
    <h1 id="indexTitle">Bienvenido al juego Tres en raya</h1>
    <form action="/whoStarts" method="get">
      <center><h3 class="jugador">Jugador 1:</h3><input type="text" name="jugador1"/><br/></center>
      <center><h3 class="jugador">Jugador 2:</h3><input type="text" name="jugador2"/><br/></center>
      <br/><br/>
      <center><button type="submit" class="jugar jugar1">Siguiente</button></center>
    </form>
  </body>
</html>