<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Página inicial</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/vendor/css/style.css"/>
  </head>
  <body id="indexBody">
    <h1 id="indexTitle">Bienvenido al juego Tres en raya</h1>
  </body>
</html>